:root {
    --bg-color: #88a8bf;
    --orange-color: #ff4318;
    --green-color: #73e0a9;
    --color-scrollbar-thumb: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

body {
    background: var(--bg-color);
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(6rem);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    opacity: 0.6;
    background: url('../assets/images/noise.png') repeat;
}

a {
    cursor: pointer;
}

section {
    --padding: 1.5rem;
    height: 100vh;
    padding: var(--padding);
}

.root {
    position: relative;
}

.blob {
    position: fixed;
    height: 45rem;
    inset: 50% 0 0 50%;
    translate: -50% -50%;
    aspect-ratio: 1;
    border-radius: 40%;
    filter: blur(5rem);
    background: conic-gradient(from 0.9turn, var(--orange-color) 0deg, var(--green-color) 250deg, #fff 360deg);
    animation: grow 17.5s infinite;
    z-index: -2;
}

.hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header .logo {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    isolation: isolate;
}

.hero header .logo::before,
.hero header .logo::after {
    content: '';
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(from 0.9turn, var(--orange-color) 0deg, var(--green-color) 250deg, #fff 360deg);
    z-index: -1;
}

.hero header .logo::before {
    filter: blur(10px);
}

.hero header .logo img {
    width: 100%;
    height: 100%;
}

.hero header .contact-btn {
    position: relative;
    display: grid;
    isolation: isolate;
    padding: 0.7rem 1rem;
    place-items: center;
    border-radius: 12rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

.hero header .contact-btn::before {
    content: '';
    position: absolute;
    aspect-ratio: 1 / 1;
    height: 3rem;
    width: 3rem;
    left: 0;
    border-radius: 10rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(314deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.2) 46.18%, rgba(255, 255, 255, 0.3) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    z-index: -1;
    transition: .4s all ease-in-out ;
}

.hero header .contact-btn:hover::before {
    width: 100%;
    height: 100%;
}

.hero .hero-text-container {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.hero .hero-text-container small,
.hero .scroll-text {
    display: block;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-stroke: 1px rgba(255, 255, 255, 0.5);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
}

.hero .hero-text-container h1 {
    line-height: 1;
    font-size: 10.5rem;
}

.word {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.hero .hero-text-container .char {
    display: inline-block;
    translate: 0 115%;
}

.hero .hero-text-container h2 {
    font-size: 4rem;
}

.hero .hero-text-container h1,
.hero-text-container h2 {
    font-weight: 700;
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2));
}

.hero .word {
    overflow: hidden;
}

.hero .hero-text-container .char {
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .scroll-text {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0;
    gap: 0.5rem;
}

.hero .scroll-text .scroll-icon {
    position: relative;
    display: inline-block;
    width: 1.1rem;
    height: 2.2rem;
    border-radius: 20rem;
    border: 1px solid #fff;
}

.hero .scroll-text .scroll-icon::before{
    content: '';
    position: absolute;
    inset: 50% 0 0 50%;
    width: 4px;
    height: 4px;
    rotate: -135deg;
    translate: -50% -50%;
    border:  1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 0;
    border-right: 0;
    animation: scroll .8s infinite alternate ease-in-out;
}

section.projects {
    position: relative;
    height: auto;
    padding: var(--padding) 0;
    isolation: isolate;
    overflow-x: clip;
}

.background-text {
    position: absolute;
    top: 3.5%;
    width: 100%;
    rotate: -9deg;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    text-stroke: 1px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.background-text h1 {
    display: block;
    line-height: 0.8;
    font-size: 8rem;
    font-weight: 700;
}

.projects-container {
    padding: var(--padding);
    display: flex;
}

.projects-left-side,
.projects-right-side {
    flex: 1;
}

.projects-left-side .projects-details {
    display: grid;
    height: 100vh;
    text-align: center;
    place-items: center;
    color: #fff;
}

.projects-container .projects-details div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    width: 70%;
}

.projects-details div > img {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    background: linear-gradient(314deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.45) 100%);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
}

.projects-container div.links {
    flex-direction: row;
    justify-content: center;
}

.projects-container .links img {
    width: 1.2rem;
    height: 1.2rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects-left-side h2 {
    position: relative;
    font-weight: 700;
    font-size: 4rem;
    width: fit-content;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 0.01%, rgba(255, 255, 255, 0.05) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
    line-height: 100%;
}

.projects-left-side h2::after {
    content: '';
    position: relative;
    inset: auto auto 0 50%;
    translate: -50% 0%;
    display: block;
    height: 2px;
    width: 30%;
    background: rgba(255, 255, 255, 0.51);
    margin-top: 15px;
}

.projects-left-side p {
    font-size: 1.25rem;
    font-weight: 300;
    text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.75);
}

.projects-left-side a {
    display: flex;
    align-items: center;
    gap: 0.4ch;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 1.75rem;
    padding: 0.5rem 2rem;
    width: fit-content;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(314deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.31) 46.18%, rgba(255, 255, 255, 0.50) 100%);

}

.projects-container .projects-right-side {
    display: grid;
    place-items: center;
    height: 100vh;
}

.projects-container .projects-right-side .glass-box {
    display: grid;
    width: 40rem;
    height: 40rem;
    place-items: center;
    border-radius: 1.75rem;
    background: linear-gradient(314deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.45) 100%);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    overflow: hidden;
}

.projects-container .glass-box div {
    display: grid;
    width: 90%;
    aspect-ratio: 16 / 9;
    border-radius: 1.75rem;
    overflow: hidden;
    box-shadow: 0px 11px 30px 12px rgba(0, 0, 0, 0.5);
}

.projects-container .glass-box img {
    grid-area: 1 / 1;
    box-shadow: none;
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
}

section.contact {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact h1,
.contact h2 {
    line-height: 0.85;
    font-size: 8rem;
    font-weight: 800;
    word-spacing: 100vw;
    filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.5));
    overflow: hidden;
}

.contact h1 .char {
    background: linear-gradient(90deg, #F7DFD9 0%, #FFA78F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact h2 {
    color: #f9cdc1;
    font-size: 8rem;
    font-weight: 200;
    word-spacing: normal;
    overflow: hidden;
}

.contact .links-container {
    display: flex;
    gap: 1rem;
}

.contact .links-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    aspect-ratio: 1 / 1;
    background: linear-gradient(314deg, #FFA78F 0%, rgba(255, 255, 255, 0.34) 46.18%, #FFA78F 100%);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
}

.contact .links-container a img {
    width: 50%;
    aspect-ratio: 1;
}

.credit-container {
    padding: 1rem 0;
    background: #000;
    color: #fff;
    text-align: center;
}

.credit-container span {
    color: var(--bg-color);
}

@media (min-width: 840px) {
    [data-desktop-display="false"] {
        display: none;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 840px) {
    html {
        font-size: 9.5px;
    }

    .projects-container .projects-right-side {
        display: none;
    }

    .hero .hero-text-container h1 {
        font-size: 7.8rem;
    }

    .projects-left-side p,
    .projects-left-side a {
        font-size: 2rem;
    }
}

@media (max-width: 460px) {
    html {
        font-size: 7px;
    }

    .contact h2 {
        font-size: 4.5rem;
    }
}

@keyframes scroll {
    0% {
        translate: -50% 0;
    }
    
    100% {
        translate: -50% 100%;
    }
}

@keyframes grow {
    0% {
        scale: 1;
    }
    
    50% {
        scale: 1 1.25;
    }
    
    100% {
        scale: 1;
    }
}
