:root {
    --bg-color: #88a8bf;
    --orange-color: #ff4318;
    --green-color: #73e0a9;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg-color);
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(6rem);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 0;
    opacity: 0.6;
    background: url('../assets/images/noise.png') repeat;
}

a {
    cursor: pointer;
}

section {
    --padding: 1.5rem;
    height: 100vh;
    padding: var(--padding);
}

.root {
    position: relative;
}

.blob {
    position: fixed;
    height: 45rem;
    inset: 50% 0 0 50%;
    translate: -50% -50%;
    aspect-ratio: 1;
    border-radius: 40%;
    filter: blur(5rem);
    background: conic-gradient(from 0.9turn, var(--orange-color) 0deg, var(--green-color) 250deg, #fff 360deg);
    animation: grow 17.5s infinite;
    z-index: -2;
}

.hero {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header .logo {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}

.hero header .logo img {
    width: 100%;
    height: 100%;
}

.hero header .contact-btn {
    display: grid;
    padding: 0.7rem 1.25rem;
    place-items: center;
    border-radius: 12rem;
    background: #fff;
}

.hero .hero-text-container {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.hero .hero-text-container small,
.hero .scroll-text {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-stroke: 1px rgba(255, 255, 255, 0.5);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
}

.hero .hero-text-container h1 {
    line-height: 1;
    font-size: 10.5rem;
}

.hero .hero-text-container h2 {
    font-size: 4rem;
}

.hero .hero-text-container h1,
.hero-text-container h2 {
    font-weight: 700;
    background: linear-gradient(112deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2));
}

.hero .scroll-text {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0;
    gap: 0.5rem;
}

.hero .scroll-text .scroll-icon {
    position: relative;
    display: inline-block;
    width: 1.1rem;
    height: 2.2rem;
    border-radius: 20rem;
    border: 1px solid #fff;
}

.hero .scroll-text .scroll-icon::before{
    content: '';
    position: absolute;
    inset: 50% 0 0 50%;
    width: 4px;
    height: 4px;
    rotate: -135deg;
    translate: -50% -50%;
    border:  1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 0;
    border-right: 0;
    animation: scroll .8s infinite alternate ease-in-out;
}

@keyframes scroll {
    0% {
        translate: -50% 0;
    }
    
    100% {
        translate: -50% 100%;
    }
}

@keyframes grow {
    0% {
        scale: 1;
    }
    
    50% {
        scale: 1 1.25;
    }
    
    100% {
        scale: 1;
    }
}
